src/
stories/
demo/
.ladle/
.github/
 
.babelrc
webpack.config.js
tsconfig.json
tsup.config.ts
.eslintrc*
.prettier*
 
__tests__/
*.test.tsx
*.spec.tsx
npm-debug.log*
yarn-error.log*

 
.gitignore
.npmignore
 