src/
stories/
demo/
__tests__/
*.test.tsx
*.spec.tsx

.ladle/
.github/
.vscode/
.husky/
.babelrc
webpack.config.js
tsconfig.json
tsup.config.ts
.eslintrc*
.prettier*

npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
node_modules/

.gitignore
.npmignore
CONTRIBUTING.md