.calendarContainer {
  display: grid;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 2.7cqw;
  background: var(--c-b);
  color: var(--c-c);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  user-select: none;
  border-radius: 0.8em;
  border: 1px solid var(--c-s);
  box-shadow: 0 0.2em 0.8em var(--c-x);
  overflow: hidden;
}
.calendarContainer.gradient {
  background: linear-gradient(
    130deg,
    var(--c-a) 0%,
    var(--c-b) 40%,
    var(--c-t) 100%
  ) !important;
}

.calendarContainer.gradient.dark {
  background: radial-gradient(
    circle at 0% 0%,
    var(--c-t) 0%,
    var(--c-b) 60%,
    var(--c-a) 100%
  ) !important;
}
.calendarContainer.staticMode {
  font-size: 15px;
  min-width: 350px;
  width: max-content;
}

.calendarContainer * {
  box-sizing: border-box;
}

.calendarContainer > div {
  width: 100%;
  height: 100%;
  background: inherit;
}
.calendarContainer.gradient > div {
  background: unset !important;
}
.calendarContainer.gradient > div[data-state="open"] {
  background: var(--c-b) !important;
}
:root {
  --c-we: #e53935;
  --c-wed: #ff8a80;
}
