.calendar {
  min-width: 60vh;
  min-height: 60vh;
  background: #ddd;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 50px auto;
  grid-template-areas: "YY YY" "MM DD";
  user-select: none;
  font-family: sans-serif;
}
.calendar.with_presets:not(.with_time) {
  min-height: 60vh;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "YY YY" "MM DD" "PRESETS PRESETS";
}
.calendar.with_time:not(.with_presets) {
  min-width: 75vh;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 50px auto;
  grid-template-areas: "YY YY YY" "MM DD TIME";
  column-gap: 2px;
}
.calendar.with_time,
.calendar.with_presets {
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "YY YY YY" "MM DD TIME" "PRESETS PRESETS PRESETS";
}
.calendar-presets {
  grid-area: PRESETS;
  display: flex;
  width: 100%;
}
.calendar-presets-preset {
  text-align: center;
  font-size: 13px;
  width: calc(100% / 5);
  background: #9c9999;
  border-right: 1px solid #fff;
  padding: 3px;
}
.calendar-presets-preset:last-child {
  border: none;
}
.calendar-time {
  grid-area: TIME;
  display: flex;
  padding-left: 1px;
}
.calendar-time-half {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  background: #eeebe7;
}
.calendar-time-half-cell:first-child,
.calendar-time-half-cell:last-child {
  background: #ddd;
}
.calendar-time-half-cell:nth-child(4) {
  position: relative;
}
.calendar-time-half-cell svg {
  max-width: 25%;
}
.calendar-years {
  grid-area: YY;
  display: flex;
  justify-content: space-between;
}
.calendar-years-current {
  width: 60%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.calendar-years-arrow {
  width: 50px;
  height: 100%;
}
.calendar-years-arrow svg {
  max-height: 55%;
}
.calendar-months {
  grid-area: MM;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr); 
}
.calendar-months-month {
  height: 100%;
  font-size: 14px;
  padding: 1px 0;
}
.calendar-days {
  grid-area: DD;
  background: #eeebe7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar_active,
.calendar-time-half-cell:nth-child(4) {
  background: #b1aa48;
}
.calendar-button:active,
.calendar-presets-preset:active,
.calendar-time-half-cell:active,
.calendar-years-arrow:active,
.calendar-months-month:active,
.calendar-days-day:active,
.calendar-button:hover,
.calendar-presets-preset:hover,
.calendar-time-half-cell:hover,
.calendar-years-arrow:hover,
.calendar-months-month:hover,
.calendar-days-day:hover {
  background: #b1aa48;
  cursor: pointer;
}
.calendar-fcc,
.calendar-presets-preset,
.calendar-time-half-cell,
.calendar-years-current,
.calendar-years-arrow,
.calendar-months-month,
.calendar-days-day {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dividerhour::after {
  content: ":";
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: 0;
}
