.presetsContainer {
  grid-area: PP;
  display: flex;
  border-top: 1px solid var(--c-s);
  padding: 6px;
  gap: 5px;
  background: var(--c-a);
  z-index: 2;
}

.presetItem {
  composes: interactive from "../../global/global.module.css";
  flex: 1;
  font-size: 13px;
  text-align: center;
  background: var(--c-t);
  transition: transform 0.1s ease-out;
  &:active {
    transform: scale(0.97);
  }
}
