.monthsContainer {
  grid-area: MM;
  display: grid;
  grid-template-columns: var(--months-cols, repeat(2, minmax(0, 1fr)));
  grid-template-rows: var(--months-rows, repeat(6, 1fr));
  padding: 0.75em 0.3em;
  gap: 0.25em;
  border-right: var(--months-border-right, 1px solid var(--c-s));
  border-bottom: var(--months-border-bottom, none);
  border-top: var(--months-border-top, none);
  background: var(--c-b);
  z-index: 2;
  transition: all 0.25s linear;
  &:hover {
    transition: all 0.25s linear;
    box-shadow: 0.1em 0 0.5em var(--c-x);
  }
}

.item {
  composes: interactive from "../../global/global.module.css";
  composes: hoverable from "../../global/global.module.css";
  justify-self: center;
  align-self: center;
  width: 95%;
  height: auto !important;
  min-height: 2.1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  font-size: 0.8em !important;
  white-space: nowrap;
}
