.timeContainer {
  position: relative;
  padding: 0.6em;
  background: var(--c-b);
  min-height: 10em;
  border-left: 1px solid var(--c-s);
  transition: all 0.25s linear;
  &:hover {
    transition: all timeContainer0.25s linear;
    box-shadow: -0.1em 0 0.5em var(--c-x);
  }
}
