.timeContainer {
  composes: flexCenter from "../../global/global.module.css";
  position: relative;
  padding: 0.4em;
  background: var(--c-b);
  min-height: 10em;
  border-left: 1px solid var(--c-s);
  transition: all 0.25s linear;
  &:hover {
    transition: all 0.25s linear;
    box-shadow: -0.1em 0 0.5em var(--c-x);
  }
}

.timeSelectionIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 2.1em;
  background: var(--c-h);
  border-radius: 0.4em;
  z-index: 0;
  pointer-events: none;
  box-shadow: 0 0 0.5em var(--c-x);
}

.column {
  composes: flexCenter from "../../global/global.module.css";
  flex-direction: column;
  z-index: 1;
  flex: 1;
}

.separator {
  font-size: 0.7em;
  font-weight: 800;
  color: var(--c-a) !important;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 2em;
}

.cell {
  composes: interactive from "../../global/global.module.css";
  height: 2.4em;
  width: 100%;
  font-size: 0.7em;
  transition: transform 0.1s ease-out;
  user-select: none;

  &:active {
    transform: scale(1.1);
  }
}

.active {
  color: var(--c-a) !important;
  font-weight: 700;
  &:hover {
    background: unset !important;
  }
}
