.header {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  text-transform: uppercase;
  user-select: none;
  color: var(--c-c);
  font-size: 0.6em;
  font-weight: 600;
}

.weekendDark,
.weekendLight {
  color: var(--c-we);
  opacity: 0.6;
}
