.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35em;
  padding: 0.5em;
  border-top: 1px solid var(--c-s);
  background: var(--c-a);
  z-index: 3;
  transition: box-shadow 0.25s linear;
  &:hover {
    box-shadow: 0 -0.1em 0.1em var(--c-x);
  }
}

.chip {
  height: auto !important;
  min-height: 2.1em;
  padding: 0.35em 0.75em !important;
  font-size: 0.78em !important;
  white-space: nowrap;
}

.inactiveChip {
  background: var(--c-t);
}

.rangeSep {
  font-size: 0.8em;
  color: var(--c-s);
  align-self: center;
  user-select: none;
  white-space: pre;
}
